.cart-header {
  padding: 1rem;
  text-align: center;
}

.cart-details-container {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cart-clear-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: goldenrod;
  font-weight: bold;
  width: fit-content;
  padding: 0.5rem;
}
