.starship-header {
  padding: 1rem;
  text-align: center;
}

.starship-details-container {
  padding: 1rem;
  display: flex;
  justify-content: center;
  gap: 2rem;

  @media (max-width: 62em) {
    flex-direction: column;
    align-items: center;
  }
}

.starship-details-row {
  display: flex;
  gap: 0.5rem;
  max-width: 30rem;
}

.starship-detail-image {
  max-width: 400px;

  @media (max-width: 62em) {
    max-width: 300px;
  }
}

.starship-add-to-cart-container {
  display: flex;
  justify-content: center;
  padding: 2rem;
  gap: 1rem;
}

.add-to-cart-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: goldenrod;
  font-weight: bold;
}
