.header-container {
  display: flex;
  gap: 3rem;
  padding: 1rem;
}

.desktop-menu {
  display: flex;
  gap: 3rem;
  padding: 1rem;
}

.header-link {
  color: white;
  display: flex !important;
  gap: 0.5rem;
  padding-bottom: 0.5rem;
}

.yoda-image {
  margin: auto;
  width: 96px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);

  @media (max-width: 62em) {
    width: 48px;
  }
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 1 rem;
  top: 1rem;
  z-index: 1000;
}

.bm-menu-wrap {
  left: 4rem;
}

@media only screen and (min-width: calc(62em + 1px)) {
  .mobile-menu {
    display: none;
  }
}

@media only screen and (max-width: 62em) {
  .desktop-menu {
    display: none;
  }
}
