.starship-card {
  border: 1px solid white;
  border-radius: 10px;
  padding: 1rem;

  width: 180px;

  @media (max-width: 62em) {
    width: 90px;
  }
}

.starship-image {
  width: 100%;
}

.starship-title {
  width: 100%;
  font-size: 1rem;

  @media (max-width: 62em) {
    font-size: 0.75rem;
  }
}

.starship-row {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  width: 100%;
  font-size: 0.75rem;

  @media (max-width: 62em) {
    font-size: 0.5rem;
  }
}

.starship-link {
  color: white;
}
