.error-page-container {
  text-align: center;
}

.error-header {
  font-size: clamp(1rem, 0.5rem + 2vw, 5rem);
  padding: 1rem;
}

.error-page-link {
  color: white;
  display: inline-flex;
  gap: 1rem;
}
